body {
    background-color: white;
    background-image: url('files/bg.jpg');
    display: grid;
    grid-template-rows: 20% 40%;
    margin-left: 40%;
    margin-top: 10%;
}

#display {
    border: 4px solid;
    min-width: 300px;
    height: 100px;
    padding: 0.5%;
    margin: 0.5%;
    width: fit-content;
}

#mini-display {
    border: 1px solid;
    height: 40px;
    text-align: right;
    font-size: 35px;
    font-family: serif;
}

#main-display {
  border: 2px solid;
  height: 56px;
  text-align: right;
  font-size: 45px;
  font-family: serif;
}

#main-display:hover, #mini-display:hover {
  background-color: black;
  color: white;
  border-color: black;
}

#buttons {
    padding: 0.5%;
    margin: 0.5%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 1px;
    border: 4px solid;
    border-top: none;
    width: 300px;
    height: 400px;
    margin-top: 1%;
}


/* CSS */
#btn, #operator, #github-btn {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 12px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  font-size: 26px;
  touch-action: manipulation;
  min-width: 25%;
  min-height: 20%;
  will-change: transform;
}

#btn:disabled, #operator:disabled {
  pointer-events: none;
}

#btn:hover, #operator:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-0.5px);
}

#btn:active, #operator:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 1100px) {
    body{
      margin-left: 0;
      margin-top: 0;
    }
    footer {
      margin-bottom: 0;
      margin-left: 0;
    }   
}

@media screen and (max-height: 600px) {
  #github-btn {
    visibility: hidden;
  } 
}

#footer-container{
  display: flex;
  justify-content: left;
}

footer {
  margin-left: 8%;
  position : absolute;
  bottom : 5px;
  height : fit-content;
  font-size: 23px;
  padding: 1px;
}

